:root{
  color: #36363a;
  --TemaClaroBody:#FFFFFF;
  --TemaOscuroBody:#1E1E1E;
  --TemaOscuroTexto:#FFFFFF;
  --TemaClaroTexto:#1E1E1E;
}
.temaClaro {
  /* background-color: var(--TemaOscuroBody); */
  color: greenyellow;
}
body{
  background-color: var(--TemaOscuroBody);
}
/* login , status de sesion y avatar */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
}
.google-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.google-btn img {
  width: 20px;
  height: 20px;
}
.google-btn:hover {
  background: #f1f1f1;
}
.logout-btn.guardar-btn{
  cursor: pointer;
}
.user-info {
  display: flex;
  justify-content: space-between;
  align-items:end ;
  margin-bottom: 10px;
  color: var(--TemaOscuroTexto);
}
.usuario-foto{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
Avatar img{
  width: 300%;
  height: 300%;
}
/* Estilos previos... */
h1{
  text-align: center;
  color: var(--TemaOscuroTexto);
}
/* Formulario */
.formulario{
  display: flex;
  flex-wrap:wrap;
  flex-direction:row; ;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#guardar-btn, #logout-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
input{
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.error-message {
  color: #dc3545;
  padding: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin: 1rem 0;
}
/* Tabla */
h2{
  text-align: center;
  color: var(--TemaOscuroTexto);
}
tbody tr:hover {
  background-color: hsla(180, 100%, 39%, 0.164);
}
tbody tr{
  border-bottom: 1px solid hsla(180, 100%, 33%, 0.842);
}
.registros-table{
  display: flex;
  flex-direction:column;
  align-items: auto;
  justify-items: auto;
  justify-content: center;
  align-content: center;
  gap: 5px;
  margin: 0px 10px 0px 10px;
}
table {
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 2px;
  border-collapse: collapse;
/*   border:none;
 */}
  /* encabezado */
  #btn-NombreDia{
    text-transform: capitalize; 
    text-align: center;
    padding-top: 3px;
    width: 90%;
    height: 20px;
    border: none;
    border-radius: 4px;
    cursor:context-menu;
    font-size:smaller;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  #btn-NombreMes{
    width: 100%;
    text-transform: capitalize; /*primeraletraenmayuscula*/
    padding-top: 3px;
    border: none;
    border-radius: 4px;
    height: 30px;
    cursor: context-menu;
    font-size:smaller;
    background-color:hsla(180, 100%, 22%, 0.685);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: var(--TemaOscuroTexto);
}
  table tr th{
    width: 3em;
   text-align: center;
   color: var(--TemaOscuroTexto);
  }
  button#logout-btn:hover, button#guardar-btn:hover {
    background-color:hsla(180, 100%, 39%, 0.589)
  }
  #btn-encabezado{
    text-align: center;
    padding-top: 3px;
    margin-bottom: 3px;
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor:context-menu;
    font-size:smaller;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.TituloNombre{ 
    width: 10em;
    /* min-width: 12em; */
    height: 85px ;
    margin-bottom: 3px;
    text-transform: capitalize; /*primeraletraenmayuscula*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:smaller;
    background-color:hsla(180, 100%, 22%, 0.685);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: var(--TemaOscuroTexto);
}
#main-content {
  visibility: hidden;
}
  /* Datos */

  /* PopUp */
  .popup-overlay { 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(35, 33, 39, 0.8); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
  }
  .popup {
    display: flex;
    flex-direction: column;
    align-items:center; 
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 70vw;
    width: 90%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  .NombreMesPopUp button{
    width: 100% !important;
    color: var(--TemaOscuroTexto);
    background-color:rgba(35, 33, 39, 0.6) ;
  }
    
.encabezado-popup{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px repeat(1, 1fr);
  place-items: center;
  margin-top: -10px;
}
.titulo-popUp {
  grid-column: span 4 / span 4;
  margin-left: 25%;
}
.comandos-popUp {
  grid-column-start: 5;
  display: flex;
  justify-content:space-between ;
  align-items:center ;
  gap: 15px;
}
.btn-cerrar-popup { 
  padding: 5px 15px;
  margin-right: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  max-width: 100px;
  margin-right: 10px;
}
.btn-cerrar-popup:hover { 
  background-color: #961313; 
  color: var(--TemaOscuroTexto);
}

  .no-tiene-registro {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  .tiene-registro {
    background-color: hsla(180, 100%, 22%, 0.685);
    color: var(--TemaOscuroTexto);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  .colNombre{
    text-transform:capitalize;
    width: 10em;
  }
  table td {
/*     width: 10px;
 */    padding: 2px;
    text-align: center;
  }
  table td:last-child {
    text-align: center;
  }
  table td button {
    width: 100%;
    /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); */
    color:#36363a;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }  
  .editar-btn:hover, .eliminar-btn:hover{
    opacity: 0.9;
  } 
  .editar-btn, .eliminar-btn {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto ;
    color: var(--TemaOscuroTexto);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  }
  .editar-btn {
    background-color: #28a745;
  }
  .eliminar-btn {
  background-color: #dc3545;
  }
/* Botones de control de tabla */
  .MovimientoDeTabla,.export-buttons{
    display: flex;
    justify-content:space-between ;
    align-items:center ;
    margin:0px 20px 0px 20px;
    padding-left: 10em;
  }
